/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} 
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.cuApp{
  height: 100%;
  width: 100%;
  display: flex;
}
nav{
  width: 25%;
  height: 100%;
  background-color: rgb(22 33 57);
  transition: all 0.7s ease 0s;
}
nav div{
  height: 60px;
  color: #fff;
}
h1{
  text-align: center;
  margin: 1em;
}
.map{
  width: 75%;
  height: 100%;
}
.route_name{
  padding: 5px 10px;
  color: #363636;
  text-align: center;
  border-bottom: solid #d3d3d3 .5px;
}
.route_name:hover{
  background-color:#ededed;
}
.route_name:first-child{
  border-top: solid#d3d3d3 .5px;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
#button{
  visibility: hidden;
  position: fixed;
  z-index: 2;
  margin: 5px;
  padding: 2px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 2px;
  background: #3636362b;
}
.active{
  width: 80%;
  position: absolute;
  z-index: 2;
  transition: all 0.7s ease 0s;
}
@media (max-width: 992px){
  #button{
    visibility: visible;
  }
  nav{
    width: 0;
    position: fixed;
  }
  .map{
    width: 100%;
  }
  .cuApp{
    height: 100%;
    width: 100%;
    display: block;
  }
}